body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: #ffffff;
  padding: 1em 0;
  text-align: center;
}

h1 {
  margin: 0;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 1em 0;
  text-align: center;
  display: flex;

 
}

nav a:hover {
  background-color: #c1b8b8; 
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.5em 1em; /* Espaçamento nos links */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave */
}


.banner h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 0;
}


.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.restaurant-img {
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quadrado {
  width: 400px;
  background-color: #a4aaa4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
  line-height: 1.6;
}

.quadrado p {
  text-align: justify;
}

.menu-link {
  text-align: center;
  margin-top: 20px;
}



footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}



